<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Formulario de contacto de Alitalia. Ponte en contacto con nosotros para cotizaciones, dudas sobre productos médicos y atención al cliente.">
    <title>Contacto | Alitalia</title>
    <link rel="icon" href="public/images/Alitalia.ico" type="image/x-icon">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Estilos personalizados (cargados después de Bootstrap para sobrescribir) -->
    <link rel="stylesheet" href="public/css/style.css">
    
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" crossorigin="anonymous"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js" crossorigin="anonymous"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" crossorigin="anonymous"></script>

</head>
<body>


    
    <nav class="navbar navbar-expand-lg bg-success navbar-dark shadow-sm">
        <div class="container">
            <a class="navbar-brand" href="index.html">
                <img src="public/images/LOGO3.jpg" alt="logo" class="logo" style=" width:100px;">
            </a>
            <!-- <a href="/" class="navbar-brand">Bootstrap 4</a> -->
            <button class="navbar-toggler float-right" type="button" data-toggle="collapse" data-target="#navbar9" aria-label="Alternar navegación y menú principal">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse" id="navbar9">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        
                        <a class="nav-link" href="index.html">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="form.html">Contacto</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!--  -->
    
    <main>
    <!-- Container -->
    <div class="container bg-white p-5 shadow-sm rounded" style="margin-top:40px; margin-bottom: 40px;">
        <div class="row">
            <div class="col-md-5 mb-4 mb-md-0">

                <h1 class="mb-4 h2">Nuestra Ubicación</h1>

            <!-- MAPA -->
            <div id="map" class="shadow-sm rounded border"></div>
            <!--  -->


            </div>

            <div class="col-md-7 pl-md-5" id="formulario">

                <h2 class="mb-4 h3">Envíanos un Mensaje</h2>
                
                <form v-on:submit.prevent="alertas" class="bg-light p-4 rounded shadow-sm">
                    <div class="mb-4">
                    
                        <label for="exampleFormControlInput1" class="form-label font-weight-bold">Correo Electrónico</label>
                        <input type="email" class="form-control form-control-lg" id="exampleFormControlInput1" v-model="correo" placeholder="ejemplo@correo.com">
    
                    </div>
                    <div class="mb-4">
                        <label for="exampleFormControlTextarea1"  class="form-label font-weight-bold">Contenido del Mensaje</label>
                        <textarea class="form-control form-control-lg" v-model="contenido" id="exampleFormControlTextarea1" rows="5" placeholder="Escribe tu mensaje aquí..."></textarea>
                    </div>
                        
                    <div class="d-grid gap-2 mt-4">
                        <button type="submit" class="btn btn-success btn-lg btn-block text-uppercase font-weight-bold shadow-sm">Enviar Mensaje</button>
                    </div>
    
                </form>

               <div class="alert alert-success mt-4 shadow-sm" role="alert" v-if="lleno == 1">
                    ¡Mensaje enviado con éxito! Nos pondremos en contacto pronto.
                </div>

                <div class="alert alert-danger mt-4 shadow-sm" role="alert"  v-if="lleno == 2">
                    Por favor, completa todos los campos antes de enviar.
                </div>

                
            </div>
        </div>
    </div>

    



    </div>
    <br>
    </main>
      <!-- Footer -->
      <footer class="page-footer navbar-dark text-light footer-custom pt-4">

        <!-- Footer Links -->
        <div class="container text-center text-md-left">
    
        <!-- Footer links -->
        <div class="row text-center text-md-left mt-3 pb-3">
    
            <!-- Grid column -->
            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
            <h3 class="h6 text-uppercase mb-4 font-weight-bold">Nombre de la Empresa</h3>
            <p>Aquí puedes utilizar filas y columnas para organizar el contenido. Lorem ipsum dolor sit amet, 
                consectetur adipisicing elit.</p>
            </div>
            <!-- Grid column -->
    
            <hr class="w-100 clearfix d-md-none">
    
            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
            <h3 class="h6 text-uppercase mb-4 font-weight-bold">Productos</h3>
            <p>
                <a class="text-white" href="#!">MDBootstrap</a>
            </p>
            <p>
                <a class="text-white"  href="#!">MDWordPress</a>
            </p>
            <p>
                <a class="text-white" href="#!">BrandFlow</a>
            </p>
            <p>
                <a class="text-white" href="#!">Bootstrap Angular</a>
            </p>
            </div>
            <!-- Grid column -->
    
            <hr class="w-100 clearfix d-md-none">
    
            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
            <h3 class="h6 text-uppercase mb-4 font-weight-bold">Enlaces Útiles</h3>
            <p>
                <a class="text-white" href="#!">Tu Cuenta</a>
            </p>
            <p>
                <a class="text-white" href="#!">Afiliados</a>
            </p>
            <p>
                <a class="text-white" href="#!">Tarifas de Envío</a>
            </p>
            <p>
                <a class="text-white" href="#!">Ayuda</a>
            </p>
            </div>
    
            <!-- Grid column -->
            <hr class="w-100 clearfix d-md-none">
    
            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
            <h3 class="h6 text-uppercase mb-4 font-weight-bold">Contacto</h3>
            <p>
                <i class="fas fa-home mr-3"></i> Acapulco, Gro, México</p>
            <p>
                <i class="fas fa-envelope mr-3"></i> info@gmail.com</p>
            <p>
                <i class="fas fa-phone mr-3"></i> + 52 744 123 4567</p>
            <p>
                <i class="fas fa-print mr-3"></i> + 52 744 765 4321</p>
            </div>
            <!-- Grid column -->
    
        </div>
        <!-- Footer links -->
    
        <hr>
    
        <!-- Grid row -->
        <div class="row d-flex align-items-center">
    
            <!-- Grid column -->
            <div class="col-md-7 col-lg-8">
    
            <!--Copyright-->
            <p class="text-center text-md-left">© <script>document.write(new Date().getFullYear())</script> Copyright:
                <a href="https://mdbootstrap.com/">
                <strong> MDBootstrap.com</strong>
                </a>
            </p>
    
            </div>
            <!-- Grid column -->
    
            <!-- Grid column -->
            <div class="col-md-5 col-lg-4 ml-lg-0">
    
            <!-- Social buttons -->
            <div class="text-center text-md-right">
                <ul class="list-unstyled list-inline">
                <li class="list-inline-item">
                    <a href="https://facebook.com" aria-label="Ir a nuestro Facebook" class="btn-floating btn-sm rgba-white-slight mx-1">
                    <i class="fab fa-facebook-f"></i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="https://twitter.com" aria-label="Ir a nuestro Twitter" class="btn-floating btn-sm rgba-white-slight mx-1">
                    <i class="fab fa-twitter"></i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="https://plus.google.com" aria-label="Ir a nuestro Google Plus" class="btn-floating btn-sm rgba-white-slight mx-1">
                    <i class="fab fa-google-plus-g"></i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="https://linkedin.com" aria-label="Ir a nuestro LinkedIn" class="btn-floating btn-sm rgba-white-slight mx-1">
                    <i class="fab fa-linkedin-in"></i>
                    </a>
                </li>
                </ul>
            </div>
    
            </div>
            <!-- Grid column -->
    
        </div>
        <!-- Grid row -->
    
        </div>
        <!-- Footer Links -->
    
    </footer>
  <!-- Footer -->
      
 
    
</body>

    <!-- VueJs -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js" crossorigin="anonymous"></script>

<script src="public/js/index.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDaeWicvigtP9xPv919E-RNoxfvC-Hqik&callback=iniciarMap"></script>

</html>